/* Custom toast location */
.p-toast.p-toast-topright {
  top: 70px;
}

@media screen and (max-width: 40em) {
  .p-toast {
    width: 20rem !important;
  }
  .p-toast .p-toast-item-container .p-toast-item .p-toast-title {
    font-size: 11px !important;;
  }

  .p-toast .p-toast-item-container .p-toast-item .p-toast-detail {
    font-size: 11px !important;;
  }
}

@media screen and (min-width: 40em) {
  .p-toast {
    width: 22rem !important;
  }

  .p-toast .p-toast-item-container .p-toast-item .p-toast-title {
    font-size: 13px !important;;
  }

  .p-toast .p-toast-item-container .p-toast-item .p-toast-detail {
    font-size: 13px !important;;
  }

}


@media screen and (max-width: 40em) {
  .p-datatable-responsive .p-datatable-thead > tr > th,
  .p-datatable-responsive .p-datatable-tfoot > tr > td {
    display: none !important;
  }

  .p-datatable-responsive .p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    border: 0 none !important;
    width: 100% !important;
    float: left;
    clear: left;
  }

  .p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
    font-weight: bold;
  }

}


@media (max-width: 640px) {
  .p-datatable-wrapper {
    border: 1px solid #c8c8c8 !important;
  }
}


body .p-invalid .p-autocomplete-input {
  border-color: #f44336 !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  padding: 3px !important;
  border: 1px solid #ced4da !important;
  border-radius: 3px !important;
}

body .p-datepicker .p-datepicker-header .p-datepicker-title select {
  padding: 3px !important;
  border: 1px solid #ced4da !important;
  border-radius: 3px !important;
}

.p-inputnumber-button-group .p-button.p-button-icon-only {
  width: 2em !important;
}

.p-inputnumber-button .pi {
  font-size: 0.88em !important;
}

.p-inputnumber-button .p-button-icon {
  margin-left: 0px !important;
}

.layout-wrapper .layout-menu li a.router-link-active, .layout-wrapper .layout-menu li button.router-link-active {
  font-weight: 700 !important;
}

.p-picklist-source-controls {
  display: none !important;
}

.p-picklist-target-controls {
  display: none !important;
}

body .p-picklist .p-picklist-buttons button {
  font-size: 12px !important;
}

label[required]::after {
  content: " *";
  color: #f44336;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 1.8rem !important;
  height: 1.8rem !important;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  height: 1.8rem !important;
  margin: .143rem !important;
}

.p-paginator {
  padding: 0.1rem 1rem !important;
}